.guide-section-alert {
  height: 30px;
  width: 570px;

  & + & {
    margin-top: 40px;
  }

  &--normal {
    background-color: $bg-blue;
  }

  &--info {
    background-color: $bg-light-blue;
  }

  &--success {
    background-color: $bg-green-2;
  }

  &--warning {
    background-color: $bg-orange;
  }

  &--error {
    background-color: $bg-pink;
  }

  &__text {
    color: $text-white;
    font-size: 1.4rem;
    font-weight: $body-fw;
    line-height: 1.4rem;
    padding: 8px 14px;
    text-align: left;
  }
}

.triangle-left {
  border: 5px solid transparent;
  content: "";
  height: 0;
  left: 4.5px;
  position: absolute;
  transform: translateY(50%);
  width: 0;

  &--normal {
    border-right-color: $bg-blue;
    border-top-color: $bg-blue;
    top: -4.5px;
  }

  &--info {
    border-right-color: $bg-light-blue;
    border-top-color: $bg-light-blue;
    top: 21%;
  }

  &--success {
    border-right-color: $bg-green-2;
    border-top-color: $bg-green-2;
    top: 43.7%;
  }

  &--warning {
    border-right-color: $bg-orange;
    border-top-color: $bg-orange;
    top: 66.2%;
  }

  &--error {
    border-right-color: $bg-pink;
    border-top-color: $bg-pink;
    top: 88.8%;
  }
}

.triangle-top {
  border: 5px solid transparent;
  content: "";
  height: 0;
  left: 14.8px;
  position: absolute;
  transform: translateY(50%);
  width: 0;

  &--normal {
    border-bottom-color: $bg-blue;
    border-left-color: $bg-blue;
    top: -14.5px;
  }

  &--info {
    border-bottom-color: $bg-light-blue;
    border-left-color: $bg-light-blue;
    top: 18%;
  }

  &--success {
    border-bottom-color: $bg-green-2;
    border-left-color: $bg-green-2;
    top: 40.5%;
  }

  &--warning {
    border-bottom-color: $bg-orange;
    border-left-color: $bg-orange;
    top: 63.2%;
  }

  &--error {
    border-bottom-color: $bg-pink;
    border-left-color: $bg-pink;
    top: 85.6%;
  }
}
