.btn {
  cursor: pointer;
  display: inline-block;
  font-family: $btn-ff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;

  &--lg {
    font-size: $btn-fz-lg;
    padding: 14px 40px;
  }

  &--sm {
    font-size: $btn-fz-sm;
    padding: 12px 30px;
  }

  &--default {
    background-color: $btn-default-bg;
    color: $btn-default-text-color;

    &:hover {
      background-color: $btn-default-bg-hover;
    }
  }

  &--secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-text-color;

    &:hover {
      background-color: $btn-secondary-bg-hover;
    }
  }

  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-text-color;

    &:hover {
      background-color: $btn-primary-bg-hover;
    }
  }

  &--disabled {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-text-color;

    &:hover {
      cursor: not-allowed;
    }
  }

  &--angle {
    &::after {
      border: 16px solid transparent;
      border-left-color: $btn-angle-color;
      bottom: 0;
      content: "";
      height: 0;
      position: absolute;
      right: 0;
      transform: translateY(50%) translateX(50%) rotate(45deg);
      width: 0;
    }

    &-sm {
      &::after {
        border: 12px solid transparent;
        border-left-color: $btn-angle-color;
        bottom: 0;
        content: "";
        height: 0;
        position: absolute;
        transform: translateY(50%) translateX(75%) rotate(45deg);
        width: 0;
      }
    }
  }

  // Ghost buttons
  &--ghost {
    background-color: transparent;
    color: $btn-ghost-text-color;

    &-first {
      border: 2px solid $btn-border-ghost;
    }

    &-secondary {
      border: 2px solid $btn-border-ghost-secondary;
      color: $btn-ghost-secondary-text-color;
    }

    &-primary {
      border: 2px solid $btn-border-ghost-secondary;
      color: $btn-ghost-primary-text-color;
    }

    &-first-angle {
      &::after {
        border: 16px solid transparent;
        border-bottom-style: none;
        border-right-color: none;
        content: "";
        height: 0;
        position: absolute;
        transform: translateY(25px) translateX(9px);
        width: 0;
      }

      &-white {
        &::after {
          border-right-color: $btn-border-ghost;
        }
      }

      &-green {
        &::after {
          border-right-color: $btn-ghost-primary-text-color;
        }
      }

      &-sm {
        &::after {
          border: 12px solid transparent;
          border-bottom-style: none;
          border-right-color: $btn-border-ghost;
          content: "";
          height: 0;
          position: absolute;
          transform: translateY(20px) translateX(8px);
          width: 0;
        }

        &-green::after {
          border-right-color: $btn-ghost-primary-text-color;
        }
      }
    }
  }
}

.ghost-buttons--bg {
  background: url("../images/footer-bg.jpg") no-repeat;
  height: 345px;
  width: 100%;

  .title {
    color: $text-white;
    padding-bottom: 40px;
    padding-top: 70px;
  }
}


// Social buttons
.btn--social {
  background-color: transparent;
  border: 2px solid $btn-social-border;
  color: $text-white;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in;
  width: 46px;

  &:active {
    background-blend-mode: color-dodge;
    background-color: $btn-social-active;
    border-style: none;
  }

  &:hover {
    background-blend-mode: normal;
    background-color: $btn-social-hover;
    border-style: none;
  }

  &-logo {
    &::before {
      border-style: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-share {
      background: url("../images/share-icon.svg") no-repeat center;
    }

    &-facebook {
      background: url("../images/facebook-icon.svg") no-repeat center;
    }

    &-twitter {
      background: url("../images/twitter-icon.svg") no-repeat center;
    }

    &-google {
      background: url("../images/google-plus-icon.svg") no-repeat center;
    }

    &-linkedin {
      background: url("../images/linkedin-icon.svg") no-repeat center;
    }

    &-rss {
      background: url("../images/rss-icon.svg") no-repeat center;
    }

    &-instagram {
      background: url("../images/instagram-icon.svg") no-repeat center;
    }

    &-email {
      background: url("../images/email-icon.svg") no-repeat center;
    }

    &-vk {
      background: url("../images/vk-icon.svg") no-repeat center;
    }
  }
}

.btn--social + .btn--social {
  margin-left: 10px;
}

// Tags
.btn--tag {
  border: none;
  color: $text-white;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in;
  width: 46px;

  &:active {
    background-color: $btn-social-active;
    background-image: url("../images/tag-icon-active.svg");
    border-style: none;
  }

  &:hover {
    background-blend-mode: normal;
    background-color: $btn-social-hover;
    border-style: none;
  }

  &-logo {
    &::before {
      border-style: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-tags {
      background-image: url("../images/tag-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

// App stores buttons
.btn--store {
  border-style: none;
  color: $text-white;
  cursor: pointer;
  display: inline-block;
  font-family: $secondary-font;
  font-size: 2rem;
  height: 60px;
  line-height: 1.55;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s ease-in;
  width: 247px;

  & > span {
    padding-left: 85px;
  }

  &-logo {
    &::before {
      border-style: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-apple {
      background: url("../images/apple-icon.svg") top 10px left 15px,
        linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(51, 51, 51, 1) 25%);
      background-repeat: no-repeat;
    }

    &-play {
      background: url("../images/google-play-icon.svg") top 12px left 15px,
        linear-gradient(90deg, #1a9bab 25%, #1dafc2 25%);
      background-repeat: no-repeat;
    }

    &-windows {
      background: url("../images/windows-icon.svg") top 13px left 15px,
        linear-gradient(
          90deg,
          rgba(0, 172, 237, 1) 25%,
          rgba(0, 187, 255, 1) 25%
        );
      background-repeat: no-repeat;
    }
  }
}

.btn--store + .btn--store {
  margin-left: 55px;
}
