.table {
  border-collapse: collapse;
  border-left: 2px solid $table-bg;
  border-right: 2px solid $table-bg;
  color: $text-gray-2;
  font-family: $table-ff;
  font-size: 1.6rem;
  line-height: 1.6;
  table-layout: fixed;
  text-align: left;

  &-desq {
    color: $text-gray-3;
    font-family: $table-ff;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

table tr td {
  border-right: 2px solid $text-white;
}

table tr td:last-child {
  border-right: 0;
}

table tr th {
  border-right: 2px solid $text-white;
}

table tr th:last-child {
  border-right: 0;
}

th,
td {
  padding: 20px 30px 20px 20px;
}

th,
tr:nth-child(even) {
  background-color: $table-bg;
}
