.achievement-item {
  width: 205px;

  &__counter {
    color: $text-white;
    font-family: $secondary-font;
    font-size: 7rem;
    line-height: 3rem;
    margin-bottom: 15px;

    &-desc {
      color: $text-white;
      font-family: $secondary-font;
      font-size: 2.5rem;
      line-height: 3rem;
    }

    &-text {
      color: $text-gray-5;
      font-size: 1.8rem;
      line-height: 3rem;
      margin-top: 50px;
    }
  }
}
