.latest-news-section {
  background: url(../images/widget-bg.jpg);
  background-color: #f2f6fa;
}

.post {
  margin-top: 370px;
  position: absolute;
}

.posts {
  height: 740px;
  position: relative;
  width: 370px;

  &--first {
    background: url(../images/bicycle-img-2.jpg) top no-repeat;
    background-size: 410px;
  }

  &--second {
    background: url(../images/bicycle-img-6.jpg) top no-repeat;
    background-position: 0 100%;
  }

  &--third {
    background: url(../images/bicycle-img-9.jpg) top no-repeat;
    background-size: 410px;
  }

  &-description {
    background: linear-gradient(50deg, #fff 95%, transparent 95%);
    height: 370px;
    padding: 30px;
    width: 100%;

    &__title {
      font-size: 2.8rem;
      margin-bottom: 20px;

      &--little {
        font-size: 1.8rem;
      }
    }

    &--reverse {
      background: linear-gradient(135deg, #fff 95%, transparent 95%);
      height: 370px;
      padding: 30px;
      position: relative;
      width: 100%;
    }

    &__text {
      color: $text-gray;
      font-family: $main-font;
      font-size: 1.6rem;
      font-weight: $body-fw-md;
      margin-bottom: 50px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }
}

.post-img {
  height: 370px;
  width: 370px;

  &--reverse {
    height: 370px;
    transform: none;
    width: 370px;
  }
}

.fa-heart {
  margin-right: 8px;
}

.fa-comment {
  margin-left: 20px;
  margin-right: 8px;
}
