$text-services: #acb6bf;
$bg-services-item: #3c4d5e;

.services-section {
  background: url(../images/parallax-bg.jpg) no-repeat center/cover;
  background-color: $footer-bg;
}

.title--white {
  color: $text-white;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.services-item {
  cursor: pointer;
  height: 440px;
  padding: 30px;
  width: 330px;

  &::after {
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in;
    width: 100%;
    will-change: background-color;
    z-index: 0;
  }

  &:hover {
    background-color: $bg-services-item;

    & > button {
      opacity: 1;
    }
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &-header {
    margin-top: 40px;
    max-width: 185px;
  }

  &__text {
    color: $text-services;
    font-family: $main-font;
    font-size: 1.6rem;
    font-weight: $body-fw;
    letter-spacing: 0;
    line-height: 2.6rem;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  & > button {
    opacity: 0;
  }
}
