.page-section {
  padding: 125px 0;

  &__header {
    margin-bottom: 55px;
    position: relative;

    &-carousel {
      margin-bottom: 100px;
    }
  }

  &__footer {
    background-color: $bg-white;
    height: 235px;
    margin-top: 50px;
  }
}
